@import "tailwindcss";

.input {
    @apply w-full 
    bg-white 
    text-gray-900 
    border border-gray-300 
    rounded-md 
    px-3 py-2 
    text-sm
    placeholder-gray-400
    focus:outline-none 
    focus:ring-2 
    focus:ring-cyan-500 
    focus:border-cyan-500;
}
